<div class="card ">
    <div class="card-image-wrapper">
        <img class="img-fluid rounded-top" [src]="member.photoUrl ==baseServicesURL? '/assets/default.jpg' :member.photoUrl "  alt="{{member.userName}}" />

        <ul class="list-inline animate member-icons text-center">
            <li class="list-inline-item">
                <button routerLink="/member/{{member.userName}}" type="button" class="btn btn-warning">
                    <i class="fas fa-user"></i>
                </button>                
            </li>
            <li class="list-inline-item">
                <button type="button" class="btn btn-warning" (click)="addLike(member)">
                    <i class="fas fa-heart"></i>
                </button>   
            </li>
            <li class="list-inline-item">
                <button type="button"
                routerLink="/member/{{member.userName}}"  [queryParams]="{tab:3}" class="btn btn-warning">
                    <i class="fas fa-envelope"></i>
                </button>   
            </li>
        </ul>
        

    </div>

    <div class="card-body">
        <h6 class="card-title  md-1">
            <span [class.is-online]="(presence.onlineUsers$ |async).includes(member.userName)">
                <i class="fas fa-circle-dot mx-1"></i>
            </span>
           
            {{member.userName}} - {{member.age}} 
        </h6>
        <!-- <p class="card-text text-muted text-center"><i class="fa-solid fa-location-dot"></i> {{member.age}} </p> -->
        <p class="card-text text-muted "><i class="fa-solid fa-location-dot"></i> {{member.city }} </p>
    </div>
</div>
