<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="assets/chatlogo.webp" class="bi me-2" width="50" height="50" role="img" aria-label="Bootstrap"
          style="border-radius: 50%;">

      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" 
       >

        <ng-container  *ngIf="(authServices.currentUser$ | async)">
          <li><a routerLink="/member" routerLinkActive="text-white" class="nav-link px-2 text-secondary">Matchs</a></li>
          <li><a routerLink="/lists"  routerLinkActive="text-white" class="nav-link px-2 text-secondary">List</a></li>
          <li><a routerLink="/message"  routerLinkActive="text-white" class="nav-link px-2 text-secondary">Message</a></li>  
        </ng-container>
        
     </ul>

      
      <div class="dropdown"  *ngIf="(authServices.currentUser$ | async) as user">

        <!-- <img [src]="user.photoUrl" class="img-fluid rounded-top imgProfile" [alt]="user.userName" /> -->
        <img [src]="user.photoUrl|| '/assets/default.jpg'" class="img-fluid rounded-top imgProfile" [alt]="user.userName" />


        <button class="btn text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Welcom {{user.userName | uppercase}}
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/members/edit"> 
            <i class="fas fa-user-edit"></i> 
            Edit Profile</a>
          </li>
          <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">
            <i class="fas fa-sign-out-alt"></i> 
            Logout</a>
          </li>
       
        </ul>
      </div>



      <form [formGroup]="loginForm" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" (ngSubmit)="login()"
        *ngIf="(authServices.currentUser$ | async)===null">
        <div class="row">
          <div class="col-md-4">
            <input formControlName="userName" type="text" class="form-control form-control-dark "
              placeholder="User Name">
          </div>
          <div class="col-md-4">
            <input formControlName="password" type="password" class="form-control form-control-dark "
              placeholder="Password">
          </div>
          <div class="col-md-4">
            <div class="text-end">
              <button [disabled]="loginForm.invalid" type="submit" class="btn btn-outline-light me-2">Login</button>
              <!-- <button type="button" class="btn btn-warning">Sign-up</button> -->
            </div>
          </div>
        </div>

      </form>


    </div>
  </div>
</header>