<div class="card">
    <div class="card-body">
        <div *ngIf="message?.length===0">
            No message yet... say hi by using the message box below
        </div>
        <ul *ngIf="message?.length>0"  class="chat">
            <li *ngFor="let message of message">
                <div>
                <span class="chat-img float-right" style="float: right;">
                    <img class="rounded-circle"
                    src="{{ message.senderProfileUrl || './assets/default.jpg' }}"
                    alt="{{ message.senderUserName }}">
                </span>
                <div class="chat-body">
                    <div class="header">
                        <small class="text-muted">
                            <span class="fas fa-clock">{{message.messageSend |timeago}}</span>
                            <span class="text-danger" *ngIf="!message.dateRead && message.senderUserName !==UserName"
                            >
                            <span style="font-size: 12px; font-weight: bold; color: gray;margin-left: 3px;">{{message.messageSend |timeago}}</span>
                            (Unread)
                        </span>
                        <span class="text-success" *ngIf="message.dateRead && message.senderUserName !==UserName">
                            <span style="font-size: 12px; font-weight: bold; color: gray;margin-left: 3px;">{{message.messageSend |timeago}}</span>(read {{message.dateRead|timeago}})
                        </span>
                        </small>
                    </div>
                    <p>{{message.content}}</p>
                </div>
            </div>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <form autocomplete="off" #messageForm="ngForm" (ngSubmit)="sendMessage()">
            <div class="input-group">
                <input 
                [(ngModel)]="messageContent"
                    name="messageContent"
                    required
                    type="text"
                    class="form-control input-sm"
                    placeholder="Send a private message"
                >
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid" class="btn btn-warning" type="submit">
                        <i class="fas fa-paper-plane"></i>
                        Send
                    </button>
                </div>
            </div>
        </form>
    </div>
    
</div>